<!doctype html>

<html>
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Ultiworld Search</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <style>
    html          { overflow-y:scroll; }
    body          { padding-top:50px; }
    #todo-list        { margin-bottom:30px; }
    #todo-form        { margin-bottom:50px; }
  </style>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body>
  <div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
      <h1>Ultiworld Search </h1>
    </div>


    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form action="/search/:<%= count %>/:<%= searchVal%>/:<%=numArticlesTotal%>" method="GET">
          <div class="form-group">

            <input type="text" class="form-control input-lg text-center" name="name" placeholder="Hot Metal">
          </div>

          <!-- createToDo() WILL CREATE NEW TODOS -->
          <!--<a href="/search?count=<%= count %>&searchVal=<%= searchVal%>&numArticlesTotal=<%=numArticlesTotal%>" class="btn btn-primary btn-lg">Search</a>-->
          <input type="submit" value="Search"/>
          <!--<button type="submit" class="btn btn-primary btn-lg" >Search</button>-->
        </form>
      </div>
    </div>

    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p><%= numArticles %> Articles Total</p>
        <p><%= numArticlesYear %> Articles from <%= year %></p>
      </div>
    </div>

  </div>

</body>
</html>